/* anything 1001px and over - most laptops, desktops */

#leftbar {
	left: 0 !important;
}
#rightbar {
	right: 0 !important;
}
#contentwrapper {
	margin: 0 12em;
}
#footer {
	margin: 0 14em;
}
#leftbar .shower, #rightbar .shower {
	display: none !important;
}
#smalltoolboxwrapper {
	display: none;
}
