/* anything 1001px and over - most laptops, desktops */

#sidebarwrapper {
	left: 0 !important; /* preventing sidebar from moving left of viewport if not on mobile */
}

#header #search {
	display: block !important;
}

#contentwrapper,
#footer {
	margin-left: 12em;
	margin-right: 1em;
}

#smalltoolboxwrapper {
	display: none;
}
