@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

@font-face {
	font-family: 'Lato body';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	background-color: #194a8d;
}

#header {
	background-color: #103ca2;
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0, #040f28), color-stop(50%, #103ca2), color-stop(100%, #040f28));
	/* IE5.5-IE7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#040f28', endColorstr='#103ca2', GradientType=1);
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#040f28,EndColorStr=#103ca2)";
	/* IE9+ */
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #040f28), color-stop(50%, #103ca2), to(#040f28));
	background-image: -webkit-linear-gradient(right, #040f28 0, #103ca2 50%, #040f28 100%);
	background-image: linear-gradient(to left, #040f28 0, #103ca2 50%, #040f28 100%);
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 3em;
	z-index: 3;
	position: fixed;
}

#header-categories {
	list-style: none;
	height: 3em;
	margin: 0;
}
#header-categories > .page_item {
	height: 3em;
}
#header-categories > .page_item:first-of-type {
	margin-left: .5em;
}
.page_item {
	margin: 0;
}
.nav0_link,
.nav1_link,
.nav2_link {
	display: inline-block;
	height: 2em;
	padding: .5em .5em .5em 0;
	line-height: 2em;
	/*padding: .5em .5em .5em 0;*/
	font-family: "Lato Body", sans-serif;
	color: #fff;
}
#header-categories li {
	display: inline-block;
	width: 8em;
	text-decoration: none;
}
#header-categories li a:hover {
	text-decoration: none;
}
#header-categories li img {
	margin: 0 0 3px 4px;
}
#header-categories .children {
	background: rgba(0,0,0,0.8);
	margin: 0;
}
.children {
	display: none;
	position: absolute;
	width: 10em;
	padding: 0 .2em .2em .2em;
}
.children a {
	display: inline-block;
	width: 9.2em; /* 10em (width of .children) - .75em */
	color: #fff;
	padding: .2em 0 .2em .7em;
}
.children a:hover {
	background: midnightblue;
}

#maintitle {
	padding: 0 .9em; /* 1em (#content padding-left) * .9em (#content font-size) */
}
#maintitle h1 {
	font-size: 32pt;
	font-family: "Lato Body", sans-serif;
	padding-top: 0.2em;
	margin-bottom: 0.1em;
	padding-bottom: .05em;
}
.scrollshadow {
	background: none;
}
#standardtoolbox,
#standardtoolboxscrolloverlay {
	font-family: "Lato", sans-serif; /* assigning here so em values match em values of the links inside */
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	top: 0;
}
#standardtoolbox a,
#standardtoolboxscrolloverlay a {
	margin-left: .5em;
	padding-top: .25em;
	padding-bottom: .25em;
	text-transform: lowercase;
	font-weight: normal;
	text-decoration: none;
}
#standardtoolbox > a:first-of-type,
#standardtoolboxscrolloverlay > a:first-of-type {
	margin-left: 0;
}
#standardtoolbox a:hover,
#standardtoolboxscrolloverlay a:hover {
	border-bottom: .25em solid #0645ad;
}

#standardtoolbox a:visited:hover,
#standardtoolboxscrolloverlay a:visited:hover,
#standardtoolbox a.selected,
#standardtoolboxscrolloverlay a.selected,
#standardtoolbox a.selected:visited,
#standardtoolboxscrolloverlay a.selected:visited {
	border-bottom: .25em solid #0b0080;
}

#standardtoolbox a.new:hover,
#standardtoolboxscrolloverlay a.new:hover {
	border-bottom: .25em solid #ba0000;
}

#standardtoolbox a.new:visited:hover,
#standardtoolboxscrolloverlay a.new:visited:hover,
#standardtoolbox a.new.selected,
#standardtoolboxscrolloverlay a.new.selected,
#standardtoolbox a.new.selected:visited,
#standardtoolboxscrolloverlay a.new.selected:visited {
	border-bottom: .25em solid #a55858;
}

#standardtoolboxdropdown {
	left: .5em;
	z-index: 3;
	background: #fff;
	position: absolute;
	width: 12em;
	list-style-type: none;
	margin-left: 0;
	-webkit-box-shadow: 0 3px 9px 0 rgba(75, 75, 75, 0.4);
	box-shadow: 0 3px 9px 0 rgba(75, 75, 75, 0.4);
	border: 1px solid #ddd;
	margin-top: .25em;
}
.dropdowntriangle {
	width: 0;
	height: 0;
	border-left: .5em solid transparent;
	border-right: .5em solid transparent;
	border-bottom: .5em solid #ccc;
	position: absolute;
	top: -.5em;
	left: .1em;
}
#standardtoolboxdropdown a {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
}
#standardtoolboxdropdown a:hover {
	border: 0;
}
#standardtoolboxdropdown a:hover span {
	border-bottom: .25em solid #0645ad;
}
#standardtoolboxdropdown a:visited:hover span {
	border-bottom: .25em solid #0b0080;
}
#standardtoolboxscrolloverlay {
	padding-left: .9em; /* 1em (#content padding-left) * .9em (#content font-size) */
	position: fixed;
	border-bottom: .25em solid #eee;
	background: #fff;
	padding-top: .25em;
	padding-bottom: .25em;
	width: -webkit-calc(100% - 13.4em);
	width: calc(100% - 13.4em);
	margin-left: -.9em; /* 1em (#content padding-left) * .9em (#content font-size) */
	z-index: 1;
}
.dropdown-open {
	-webkit-transform: translateY(3em);
	-ms-transform: translateY(3em);
	transform: translateY(3em);
}

#maintitlemessages {
	font-size: .9em;
	padding-top: 1.25em;
	padding-bottom: .5em;
}
#siteSub {
	font-size: .9em;
	padding-bottom: .25em;
}
#contentSub,
#contentSub2 {
	margin: 0;
	padding: 0;
	font-size: .9em;
}

#back-to-subject {
	display: none;
}

#smalltoolboxwrapper {
	display: none;
}

#site-notice {
	width: 100%;
	text-align: center;
}

#newtalk {
	margin-left: 2em;
}

#contentwrapper {
	min-height: 100%;
	position: relative;
	top: 3em;
	background-color: white;
	z-index: 2;
	font-family: sans-serif;
	-webkit-tap-highlight-color: transparent; /* preventing gray overlay when pressed on mobile webkit browsers (e.g. mobile Safari) */
	border-bottom: .25em solid #eee;
}

#contentwrapper * {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
}

#content {
	padding: 0em 1em;
	line-height: 1.5em;
	font-size: 0.875em;
	word-wrap: break-word;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #252525;
}

#sidebarwrapper {
	width: 12em;
	position: fixed;
	top: 0;
	color: white;
	z-index: 2;
	height: 100%;
}

/*
 * Hide the list bullet icons. This is not terribly useful by default, but there
 * are extensions which can add entire portlets to the sidebarwrapper, and said portlets
 * might be using the <ul> HTML tag...
 */
#sidebarwrapper li {
	list-style-type: none;
	margin: 0;
}

#sidebarwrapper ul {
	margin: 0;
	padding: 0;
}

#sidebar ul {
	overflow-y: auto;
	width: 100%;
	height: webkit-calc( 100% - 3.5em );
	height: moz-calc( 100% - 3.5em );
	height: -webkit-calc( 100% - 3.5em );
	height: calc( 100% - 3.5em );
	left: 0;
}

#sidebar ul {
	position: absolute;
	top: 3em;
	padding-top: 8px !important;
}

#sidebar a {
	display: block;
	color: white;
	text-decoration: none;
}

#sidebar a {
	text-align: left;
	padding-left: 1em;
	margin-left: 5px;

}

#sidebar ul .main {
	margin-left: .5em;
	display: block;
	margin-top: 0.5em;
}

#sidebar ul .main:first-of-type {
	margin-top: 0em;
}

#sidebar a:hover {
	color: #CCC;
	cursor: pointer;
	border-left: 5px solid #CCC;
	margin-left: 0;
}

#sidebar ul li {
	text-transform: lowercase;
}

#toolboxcontainer {
	display: inline-block;
	position: relative;
}

.shower {
	position: absolute;
	height: 3em;
	cursor: pointer;
}

#refreshed-toc {
	position: relative;
}

#toc-box {
	width: 5px;
	background-color: white;
	height: 28px;
	position: absolute;
	right: 0;
}

#refreshed-toc a:only-of-type {
	height: 28px;
}

a.toclevel-2 {
	padding-right: 20px !important;
}

a.toclevel-3 {
	padding-right: 30px !important;
}

a.toclevel-4 {
	padding-right: 40px !important;
}

a.toclevel-5 {
	padding-right: 50px !important;
}

a.toclevel-6 {
	padding-right: 60px !important;
}

#userinfo {
	position: relative;
	float: right;
	margin-right: 1em;
}

#userinfo > a {
	display: block;
	padding: 0.5em;
	height: 2em;
	text-decoration: none;
	/*min-width: 11em; /* 11em - 12em minus 1/2em padding on each side */
	position: relative;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	font-family: "Lato Body", sans-serif;
}

#userinfo > a:hover {
	background-color: midnightblue;
	color: #CCC;
}

#userinfo .avatar-none {
	display: none;
}

#userinfo > a span {
	display: block;
	margin-top: 0.1em;
	font-size: 15pt;
	color: white !important;
	padding-right: 10px;
	margin-left: 3.5em;
}

#username-avatar-none {
	margin-left: 1.75em !important;
}

#userinfo .arrow {
	position: absolute;
	left: 1em;
	top: 1.2em;
	vertical-align: text-bottom;
}

.dropdown-highlighted,
#searchshower:hover,
#sidebarshower:hover {
	background-color: midnightblue !important;
}

#toolbox-link {
	/*margin-top: 0.5em;*/
}

#toolbox-link .arrow, #languages-link .arrow {
	vertical-align: 2px;
}

#userinfo .arrow, #toolbox-link .arrow, #languages-link .arrow {
	-webkit-transition: -webkit-transform 0.5s; /* Safari */ /* Firefox */ /* IE */
	transition: transform 0.5s;

	-webkit-transform: rotateZ(0deg); /* Safari */ /* Firefox */
	-ms-transform: rotateZ(0deg); /* IE */
	transform: rotateZ(0deg);
}

#userinfo .arrow.rotate, #toolbox-link .arrow.rotate, #languages-link .arrow.rotate {
	-webkit-transform: rotateZ(-180deg); /* Safari */ /* Firefox */
	-ms-transform: rotateZ(-180deg); /* IE */
	transform: rotateZ(-180deg);
}

#userinfo .avatar {
	position: absolute;
	left: 2.5em;
	width: 30px;
}

.no-show {
	display: none;
}

.headermenu {
	padding: 0 0.2em 0.2em 0.2em;
	margin: 0;
	z-index: 4;
	list-style: none;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
}

.headermenu a {
	font-size: 14pt;
	text-decoration: none;
	display: block;
	color: white;
	padding: 0.2em 0.4em 0.2em 0.4em;
}

.headermenu a:hover {
	opacity: 1;
	background-color: midnightblue;
	text-decoration: none;
}

.headermenu a.new {
	color: #fdad9d;
}

#userinfo .headermenu {
	right: 0;
	width: 11em;
	position: absolute;
}

#userinfo .headermenu a {
	padding-right: 0.7em !important;
	text-align: right;
}

#sidebarshower {
	position: absolute;
	top: 0;
	left: 0;
	width: 2.5em;
	height: 2.5em;
	background: url("images/icon-rightbar.png") top left no-repeat;
	-webkit-background-size: 2.5em 2.5em;
	background-size: 2.5em 2.5em;
	display: none;
	cursor: pointer;
}

#siteinfo .headermenu {
	width: 11.6em;
	position: absolute;
	top: 3em;
	left: 0;
}

#siteinfo-main {
	float: left;
	margin: auto;
	width: 12em;
	height: 3em;
}
#siteinfo-main.multiplewikis .main {
	width: 10em;
}

#siteinfo-main:hover,
.sitedropdown-bg-highlighted {
	background-color: #333;
}

#siteinfo-main a:hover,
.sitedropdown-highlighted {
	background-color: #222;
}

#siteinfo-main a,
#siteinfo-main a.main img {
	height: 2em;
}

#siteinfo-main a.main {
	padding: 0.5em 0;
	display: inline-block;
	width: 12em;
}

#siteinfo-main a.arrow-link {
	position: absolute;
	padding-top: .9em;
	padding-right: .5em;
	padding-bottom: .1em;
	padding-left: .5em;
	display: inline-block;
	width: 1em;
}

#siteinfo a span { /* for when there is no image, just text */
	font-size: 15pt;
	color: white;
}

#siteinfo a {
	text-align: center;
}

#siteinfo img.arrow {
	-webkit-transition: -webkit-transform .5s; /* Safari */ /* Firefox */ /* IE */
	transition: transform .5s;

	-webkit-transform: rotateZ(0deg); /* Safari */ /* Firefox */
	-ms-transform: rotateZ(0deg); /* IE */
	transform: rotateZ(0deg);

	vertical-align: middle;
}

#siteinfo img.arrow.rotate {
	-webkit-transform: rotateZ(180deg); /* Safari */  /* Firefox */
	-ms-transform: rotateZ(180deg); /* IE */
	transform: rotateZ(180deg);
}

#searchshower {
	width: 3em;
	height: 3em;
	/* @embed */
	background: url("images/icon-search.png") top left no-repeat;
	-webkit-background-size: 3em 3em;
	background-size: 3em 3em;
	position: absolute;
	right: 1em;
	cursor: pointer;
	display: none;
}
#search {
	width: 11em;
	position: static;
	float: right;
	margin-right: .5em; /* .5em right + .5em padding = 1em */
	top: 0;
	padding: 0.5em;
}

#search input {
	float: right;
	border: none;
	font-size: 12pt;
	padding: 0.25em;
	font-family: Lato, sans-serif;
	width: 11em;
	-webkit-appearance: none;
}

#refreshed-toc #toc-box:last-child {
	display: none;
}

#preftoc li {
	display: inline;
}

#preftoc li:before {
	content: " - ";
}

#preftoc li:first-child:before {
	content: none !important;
}

#footer {
	position: relative;
	top: 3.5em;
	text-align: center;
	padding-bottom: 15px;
	color: #ccc;
}

#footer a {
	color: white;
}

#footer * {
	line-height: 1.5;
}

#footer img {
	vertical-align: text-top;
}

#footer #advert {
	margin-bottom: 1em; /* enough spacing after ad */
}

#footer #advert p {
	margin: 0;
}

/******************************** CONTENT/OTHER THINGS BEYOND CONTROL ******************************/

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	line-height: 1.3;
}

h1, h2 {
	border-color: #ddd;
}

h2, h3 {
	font-weight: bold !important;
}

h4,
h5,
h6 {
	font-weight: normal !important;
}

/* Fix for login/signup form pages not displaying in content section */
#userlogin,
#userloginForm {
	float: none;
}

#localNotice {
	margin-bottom: 0em !important;
}

.mw-search-formheader {
	border: none !important;
}

#search input#searchText {
	border: 1px solid #CCC !important
}

.printfooter {
	display: none;
}

#cats {
	padding: 1em;
}

#contentwrapper p:first-of-type {
	margin-top: 0;
}

/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
** copypasted from Monobook's main.css with s/#bodyContent/#content/ and img paths
** adjusted accordingly
*/
#content a.external,
#content a.external[href ^="gopher://"] {
	/* @embed */
	background: url(../../monobook/external-ltr.png) center right no-repeat;
	padding-right: 13px;
}

#content a.external[href ^="https://"],
.link-https {
	/* @embed */
	background: url(../../monobook/lock_icon.gif) center right no-repeat;
	padding-right: 16px;
}

#content a.external[href ^="mailto:"],
.link-mailto {
	/* @embed */
	background: url(../../monobook/mail_icon.gif) center right no-repeat;
	padding-right: 18px;
}

#content a.external[href ^="news://"] {
	/* @embed */
	background: url(../../monobook/news_icon.png) center right no-repeat;
	padding-right: 18px;
}

#content a.external[href ^="ftp://"],
.link-ftp {
	/* @embed */
	background: url(../../monobook/file_icon.gif) center right no-repeat;
	padding-right: 18px;
}

#content a.external[href ^="irc://"],
.link-irc {
	/* @embed */
	background: url(../../monobook/discussionitem_icon.gif) center right no-repeat;
	padding-right: 18px;
}

#content a.external[href $=".ogg"], #content a.external[href $=".OGG"],
#content a.external[href $=".mid"], #content a.external[href $=".MID"],
#content a.external[href $=".midi"], #content a.external[href $=".MIDI"],
#content a.external[href $=".mp3"], #content a.external[href $=".MP3"],
#content a.external[href $=".wav"], #content a.external[href $=".WAV"],
#content a.external[href $=".wma"], #content a.external[href $=".WMA"],
.link-audio {
	/* @embed */
	background: url("../../monobook/audio.png") center right no-repeat;
	padding-right: 13px;
}

#content a.external[href $=".ogm"], #content a.external[href $=".OGM"],
#content a.external[href $=".avi"], #content a.external[href $=".AVI"],
#content a.external[href $=".mpeg"], #content a.external[href $=".MPEG"],
#content a.external[href $=".mpg"], #content a.external[href $=".MPG"],
.link-video {
	/* @embed */
	background: url("../../monobook/video.png") center right no-repeat;
	padding-right: 13px;
}

#content a.external[href $=".pdf"], #content a.external[href $=".PDF"],
#content a.external[href *=".pdf#"], #content a.external[href *=".PDF#"],
#content a.external[href *=".pdf?"], #content a.external[href *=".PDF?"],
.link-document {
	/* @embed */
	background: url("../../monobook/document.png") center right no-repeat;
	padding-right: 12px;
}

/* Search suggestions */
.suggestions {
	position: fixed !important;
	top: 2.5em !important; /* there is some JS doing odd stuff, this forces our value */
}

/* Category links */
#catlinks {
	margin-left: 1em;
	margin-right: 1em;
}

/* refresh-ify postedit, reset all the shadows and stuff */
.postedit {
	font-family: "Lato", sans-serif !important;
	font-size: 1.1em !important;
	line-height: 1em !important;
	top: 3px !important;
	border: none !important;
	-webkit-text-shadow: none !important;
	-moz-text-shadow: none !important;
	text-shadow: none !important;
	border-radius: 0px !important;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* Fix funky diff padding to make diffs fully readable */
td.diff-addedline .diffchange, td.diff-deletedline .diffchange {
	padding: 0;
}

/* Better line spacing on recent changes */
table.mw-enhanced-rc {
	line-height: 1.5em;
}

/* "Updated since your last visit" marker on the page history of pages that are on your watchlist */
span.updatedmarker {
	background-color: #0f0;
	color: #000;
}

/* [[MediaWiki:Noarticletext]] (the notice shown on nonexistent pages) */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	color: #000;
	padding: .2em 1em;
}

/* Extension:Echo fixes */
#pt-notifications {
	display: inline;
	float: right;
	margin: 0.9em 0 0 0;
}

.mw-echo-overlay-pokey {
	left: -3px;
}
