/* anything between 601px and 1000px - tablets, big phones in landscape, very small laptops */

#leftbar {
	left: 0 !important;
}
#rightbar {
	width: 12em;
	right: -12em;
	background: rgb(25, 25, 112);
	background-color: rgba(25, 25, 112, 0.8);
}
#rightbar .shower {
	width: 48px;
}
#contentwrapper {
	margin: 0 12em 0 1em;
}
#footer {
	margin: 0 2em 0 14em;
}
#leftbar .shower {
	display: none;
}
#siteinfo .headermenu,
#siteinfo > a {
	margin-left: -webkit-calc(50% - 1em);
	margin-left: -moz-calc(50% - 1em);
	margin-left: calc(50% - 1em);
}

#smalltoolboxwrapper {
	display: none;
}
