/* anything between 601px and 1000px - tablets, big phones in landscape, very small laptops */

#sidebarwrapper {
	width: 10em;
	left: 0 !important; /* preventing sidebar from moving left of viewport if not on mobile */
}

#sidebar ul {
	font-size: 11pt;
}

#sidebar ul li {
	padding-top: .1em;
}

#contentwrapper,
#footer {
	margin-left: 10em;
	margin-right: 1em;
}

#smalltoolboxwrapper {
	display: none;
}

#header-categories {
	display: none;
}

#maintitle h1 {
	white-space: nowrap;
	font-size: 2.25em;
	overflow-x: scroll;
}

.scrollshadow {
	background:
		-webkit-linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		-webkit-linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)), linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0, linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)), linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		-webkit-linear-gradient(0deg, white 20%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, white 20%, rgba(255,255,255,0)) 100% 0, -webkit-linear-gradient(0deg, #e3e3e3 10%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	background-attachment: local, local, scroll, scroll;
}

#standardtoolboxscrolloverlay {
	width: -webkit-calc(100% - 11.4em);
	width: calc(100% - 11.4em);
	margin-left: 10em;
}

#userinfo {
	position: absolute;
	right: 3em;
}
#header #search {
	margin-top: 3em;
	margin-right: 1em;
	background: midnightblue;
	width: 15em;
	opacity: 0;
	/*-webkit-transition: opacity .2s ease 0s;
	transition: opacity .2s ease 0s;*/
	z-index: 0;
}

#searchInput { /* header search box */
	width: 100%;
	font-size: 16pt; /* enlarging and preventing zoom on input on focus */
	display: none; /* default to hidden (will be shown by adding .search-open class to #search) */
}

#search.search-open #searchInput {
	display: block;
}

#searchshower {
	display: block;
}

#searchText,
#powerSearchText { /* search and advanced search boxes on Special:Search */
	font-size: 18px;
}

#mw-search-top-table {
	text-align: center; /* center the search/advanced search boxes and submit button on Special:Search */
}

#mw-searchoptions td {
	display: block; /* set each namespace under the advanced search preferences on its own line to prevent overflow (but if there's enough room it'll expand so there's two per line) */
}

.searchresult {
	max-width: 100%; /* prevent search results from overflowing */
}

#siteSub {
	display: none !important;
}

/* Hide ads on mobile until mobile ads are implemented */
#advert {
	display: none;
}

.header-suggestions {
	top: 6.5em !important; /* 3em for the header, 3.5em for the search bar */
	right: 1em !important;
	width: 16em !important;
	font-size: 16px !important;
	border: 0 !important;
}

.header-suggestions div {
	font-size: 16pt !important;
}

/* Extension:Echo fixes */
#pt-notifications {
	display: none;
}

/* Image thumbnails */
.thumb {
	width: 100% !important;
	margin: 0 !important;
}

div.thumbinner { /* need to specify div so it can overwrite the CSS in commonContent.css */
	width: auto !important;
	padding: .75em 0 !important;
	margin-bottom: .5em;
}

.thumbinner img {
	width: 50%;
	height: auto;
	border: 0 !important;
}

.thumbcaption {
	text-align: center !important;
	margin-bottom: -.75em !important;
}

.magnify {
	display: none;
}
