/* anything 600px and under - phones */

.fade-overlay-active {
	opacity: .5 !important;
	z-index: 10001; /* very high value to guarantee no elements on wikis will appear above it */
	cursor: pointer;
}

.fade-overlay-below-header {
	z-index: 10000 !important; /* below header but above page content (used for search) */
	cursor: pointer;
}

#header {
	height: 2.75em;
}

#sidebarwrapper {
  position: fixed;
	background: midnightblue;
	left: -15em;
	width: 15em;
	top: 0;
	z-index: 10002;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}

.sidebar-open {
	left: 0;
	-webkit-transform: translateX(15em);
	transform: translateX(15em);
}

#sidebar ul {
	top: 2.75em;
	font-size: 13pt;
}

#sidebar a:hover {
	border: 0;
	margin-left: 5px;
}

#sidebarshower {
	display: block;
}

.sidebarshower-hidden {
	right: 0 !important;
}

#sidebar-logo {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2.75em;
	text-align: center;
	padding: .5em 0;
}

#siteinfo-main {
	display: none;
}

#siteinfo-main .arrow-link {
	display: none !important;
}

#siteinfo-main:hover,
#siteinfo-main a,
#siteinfo-main a:hover {
	background: none;
}

#siteinfo-mobile {
	display: inline-block;
}

#header #search {
	background: midnightblue;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	padding: .25em 0;
	opacity: 0;
	-webkit-transition: opacity .2s ease 0s;
	transition: opacity .2s ease 0s;
	z-index: 0;
}

#searchcloser {
	display: block;
}

#header #search form {
	margin-right: 3em;
	margin-left: .25em;
}

#header #search input {
	width: 100%;
	font-size: 18px;
	float: left;
}

#searchshower {
	display: block;
	right: 0;
	top: 0;
	width: 2.75em;
	height: 2.75em;
	-webkit-background-size: 2.75em 2.75em;
	background-size: 2.75em 2.75em;
}

#userinfo {
	position: absolute;
	right: 2.75em;
	margin: 0;
	width: 2.75em;
	height: 2.75em;
	top: 0;
}
#userinfo .arrow {
	display: none;
}

#userinfo .avatar {
	left: .5em;
}

#userinfo .avatar-none {
	display: block;
}

#userinfo > a {
	padding: 0;
	height: 2.75em;
}

#userinfo .avatar {
	padding-top: .25em;
	/*width: 25px; /* 30px * 5/6 */
	/*height: 25px; /* 30px * 5/6 */
}
#userinfo .avatar-none {
	display: block;
}

#userinfo > a span {
	display: none;
}

#userinfo .headermenu {
	top: 2.75em;
	background-color: midnightblue;
	padding: 0.15em 0 0.15em 0;
}

#userinfo .headermenu a {
	text-align: left;
	padding-left: 15px;
	font-weight: normal;
}

#userinfo .headermenu a:hover {
	color: #CCC;
}

#userinfo .headermenu a.new:hover {
	color: #f47d64;
}

/*
#siteinfo-main {
	height: 2.75em;
	margin-left: 2.75em;
	width: 9em;
}

#siteinfo-main.multiplewikis {
	width: 11em;
}

#siteinfo-main a,
#siteinfo-main a.main img,
#siteinfo .headermenu img {
	height: 1.5em;
}

#siteinfo-main .main {
	width: 9em !important;
}

#siteinfo-main a.arrow-link {
	padding-top: .6em;
	padding-bottom: .4em;
}

#siteinfo .headermenu {
	top: 2.75em;
	left: 2.75em;
	width: 10.6em;
}
*/

#siteinfo .headermenu img {
	font-size: 16px; /* resetting font size for logos in menu so they are the same height as the one outside the menu */
}

#contentwrapper {
	top: 2.75em;
}

#header-categories {
	display: none;
}

#maintitle {
	position: relative;
	font-size: 0.9em;
	padding: 0 1em;
	width: auto;
}

#maintitle h1 {
	overflow-x: auto;
	white-space: nowrap;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 2.25em;
}

.scrollshadow {
	background:
		-webkit-linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		-webkit-linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)), linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0, linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)), linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		-webkit-linear-gradient(0deg, white 20%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, white 20%, rgba(255,255,255,0)) 100% 0, -webkit-linear-gradient(0deg, #e3e3e3 10%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	background-attachment: local, local, scroll, scroll;
}

#standardtoolbox,
#standardtoolboxscrolloverlay {
	display: none !important;
}

#maintitlemessages {
	display: none;
}

#back-to-subject {
	display: inline;
	font-size: .95em;
}

#smalltoolboxwrapper {
	position: relative;
	display: block;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin: 0 .9em .75em .9em; /* left/right: 1em (#content padding-left) * .9em (#content font-size) */
	overflow-y: hidden;
}

#smalltoolbox {
	position: relative;
	width: 6em;
	height: 3em;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

.small-icon {
	width: 3em;
	height: 3em;
	-webkit-background-size: 3em 3em;
	background-size: 3em 3em;
	display: none; /* hiding the button unless it's whitelisted; shouldn't be necessary since the PHP doesn't render any outside the whitelist, but just in case */
}

.small-icon:hover {
	opacity: .5;
}

#icon-ca-talk {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-talk.png");
}

#icon-ca-viewsource {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-edit.png");
	opacity: .3;
}
#icon-ca-viewsource:hover {
	opacity: .2;
}

#icon-ca-edit {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-edit.png");
}

#icon-ca-history {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-history.png");
}

#icon-ca-delete {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-delete.png");
}

#icon-ca-move {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-move.png");
}

#icon-ca-protect {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-protect.png");
}

#icon-ca-unprotect {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-unprotect.png");
}

#icon-ca-watch {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-watch.png");
}

#icon-ca-unwatch {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-unwatch.png");
}

#icon-more {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-more.png");
}

/* CONTENT AREA ********************************************/
.nosmall, .articleFeedbackv5 {
	display: none !important;
}

/* Hide ads on mobile until mobile ads are implemented */
#advert {
	display: none;
}

.suggestions {
	top: 2.75em !important;
	left: 0 !important;
	width: 100% !important;
	font-size: 16px !important;
	z-index: 10001 !important; /* place above #fade-overlay, which has z-index of 10000 because it has the .fade-overlay-below-header class */
}

.suggestions div {
	font-size: 16pt;
}

/* Extension:Echo fixes */
#pt-notifications {
	display: none;
}

/* Image thumbnails */
.thumb {
	width: 100% !important;
	margin: 0 !important;
}

div.thumbinner { /* need to specify div so it can overwrite the CSS in commonContent.css */
	width: auto !important;
	padding: .75em 0 !important;
	margin-bottom: .5em;
}

.thumbinner img {
	width: 50%;
	height: auto;
	border: 0 !important;
}

.thumbcaption {
	text-align: center !important;
	margin-bottom: -.75em !important;
}

.magnify {
	display: none;
}
