/* anything 600px and under - phones */

html {
	height: 100%;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
	position: relative;
}
.sidebar-open {
	-webkit-transform: translateX(12em);
	-ms-transform: translateX(12em);
	transform: translateX(12em);
	position: fixed;
}

body {
	height: 100%;
	overflow: auto; /* part of a workaround to get #sidebarwrapper position:fixed during a transform
	(position:fixed descendants of a transformed parent become fixed relative to the parent, causing them
	to behave like position:absolute) */
}

#header {
	height: 2.5em;
}
#sidebarwrapper {
	background: midnightblue;
	left: -12em;
}
#sidebar ul {
	top: 1.5em;
	font-size: 14pt;
}
#sidebar a:hover {
	border: 0;
	margin-left: 5px;
}

#sidebarshower {
	display: block;
}
#search {
	margin-right: 0;
	background: midnightblue;
	width: 100%;
	display: none;
}
#search form {
	margin-left: 1em;
}
#search input {
	width: 100%;
	font-size: 16pt; /* enlarging and preventing zoom on input on focus */
}
#searchshower {
	display: block;
	right: 0;
	width: 2.5em;
	height: 2.5em;
	-webkit-background-size: 2.5em 2.5em;
	background-size: 2.5em 2.5em;
}

#userinfo {
	position: absolute;
	right: 2.5em;
	margin: 0;
	width: 2.5em;
	height: 2.5em;
}
#userinfo .arrow {
	display: none;
}

#userinfo .avatar {
	top: .3em;
	left: .5em;
}

#userinfo .avatar-none {
	display: block;
}

#userinfo > a {
	padding: .5em 0 0 0;
}

#userinfo .avatar {
	width: 25px; /* 30px * 5/6 */
	height: 25px; /* 30px * 5/6 */
}
#userinfo .avatar-none {
	display: block;
}

#userinfo > a span {
	display: none;
}

#userinfo .headermenu {
	top: 2.5em;
	background-color: rgb(25, 25, 112);
	padding: 0.15em 0 0.15em 0;
}

#userinfo .headermenu a {
	text-align: left;
	padding-left: 15px;
	font-weight: normal;
}

#userinfo .headermenu a:hover {
	color: #CCC;
}

#userinfo .headermenu a.new:hover {
	color: #f47d64;
}
#siteinfo-main {
	height: 2.5em;
	margin-left: 2.5em;
	width: 9em;
}
#siteinfo-main.multiplewikis {
	width: 11em;
}
#siteinfo-main a,
#siteinfo-main a.main img {
	height: 1.5em;
}
#siteinfo-main .main {
	width: 9em !important;
}
#siteinfo-main a.arrow-link {
	padding-top: .6em;
	padding-bottom: .4em;
}
#siteinfo .headermenu {
	top: 2.5em;
	left: 2.5em;
	width: 10.6em;
}

#contentwrapper {
	top: 2.5em;
}

#header-categories {
	display: none;
}

#maintitle {
	position: relative;
	font-size: 0.9em;
	padding: 0 1em;
	width: auto;
}
#maintitle h1 {
	overflow-x: auto;
	white-space: nowrap;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 2.25em;
}
.scrollshadow {
	background:
		-webkit-linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		-webkit-linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)), linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0, linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)), linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		-webkit-linear-gradient(0deg, white 20%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, white 20%, rgba(255,255,255,0)) 100% 0, -webkit-linear-gradient(0deg, #e3e3e3 10%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	background-attachment: local, local, scroll, scroll;
}
#standardtoolbox,
#standardtoolboxscrolloverlay {
	display: none !important;
}
#maintitlemessages {
	display: none;
}
#back-to-subject {
	display: inline;
	font-size: .95em;
}

#smalltoolboxwrapper {
	position: relative;
	display: block;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin: .5em .9em .75em .9em; /* left/right: 1em (#content padding-left) * .9em (#content font-size) */
}

#smalltoolbox {
	position: relative;
	width: 6em;
	height: 3em;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

.small-icon {
	width: 3em;
	height: 3em;
	-webkit-background-size: 3em 3em;
	background-size: 3em 3em;
	display: none; /* hiding the button unless it's whitelisted; shouldn't be necessary since the PHP doesn't render any outside the whitelist, but just in case */
}

.small-icon:hover {
	opacity: .5;
}

#icon-ca-talk {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-talk.png");
}

#icon-ca-viewsource {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-edit.png");
	opacity: .3;
}
#icon-ca-viewsource:hover {
	opacity: .2;
}

#icon-ca-edit {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-edit.png");
}

#icon-ca-history {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-history.png");
}

#icon-ca-delete {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-delete.png");
}

#icon-ca-move {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-move.png");
}

#icon-ca-protect {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-protect.png");
}

#icon-ca-unprotect {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-unprotect.png");
}

#icon-ca-watch {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-watch.png");
}

#icon-ca-unwatch {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-unwatch.png");
}

#icon-more {
	display: inline-block;
	/* @embed */
	background-image: url("images/icon-more.png");
}

/* CONTENT AREA ********************************************/
.nosmall, .articleFeedbackv5 {
	display: none !important;
}

/* Hide ads on mobile until mobile ads are implemented */
#advert {
	display: none;
}

.suggestions {
	top: 6em !important; /* 2.5em for the header, 3.5em for the search bar */
	left: 0 !important;
	width: 100% !important;
	font-size: 16px !important;
}
.suggestions div {
	font-size: 16pt;
}

/* Extension:Echo fixes */
#pt-notifications {
	display: none;
}

/* Image thumbnails */
.thumb {
	width: 100% !important;
	margin: 0 !important;
}

div.thumbinner { /* need to specify div so it can overwrite the CSS in commonContent.css */
	width: auto !important;
	padding: .75em 0 !important;
	margin-bottom: .5em;
}

.thumbinner img {
	width: 50%;
	height: auto;
	border: 0 !important;
}

.thumbcaption {
	text-align: center !important;
	margin-bottom: -.75em !important;
}

.magnify {
	display: none;
}
