/* anything 600px and under - phones */

.fade-overlay-active {
	opacity: 0.5 !important;
	z-index: 10001; /* very high value to guarantee no elements on wikis will appear above it (except the sidebar) */
	cursor: pointer;
}

.fade-overlay-below-header {
	z-index: 10000 !important; /* below header but above page content (used for search) */
	cursor: pointer;
}

#header {
	height: 2.75em;
}

#sidebar-wrapper {
  position: fixed;
	background: midnightblue;
	left: -15em;
	width: 15em;
	top: 0;
	z-index: 10002; /* appear above fade-overlay, which has z-index 10001 */
	-o-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-webkit-transition: 0.2s ease; /* -webkit- last so it's used in place of -o- if possible */
	transition: 0.2s ease;
}

.sidebar-open {
	left: 0;
	-ms-transform: translateX(15em);
	-o-transform: translateX(15em);
	-moz-transform: translateX(15em);
	-webkit-transform: translateX(15em); /* -webkit- last so it's used in place of -o- if possible */
	transform: translateX(15em);
}

#sidebar {
	top: 2.75em;
	font-size: 13pt;
}

#sidebar a:hover {
	border: 0;
	margin-left: 5px;
}

.header-button {
	width: 2.75em;
	height: 2.75em;
	background-size: 2.75em 2.75em;
}

#sidebar-shower {
	display: block;
}

.sidebar-shower-hidden {
	right: 0 !important;
}

#sidebar-logo {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2.75em;
	text-align: center;
	padding: 0.5em 0;
}

#site-info-main {
	display: none;
}

#site-info-main .arrow-link {
	display: none !important;
}

#site-info-main:hover,
#site-info-main a,
#site-info-main a:hover {
	background: none;
}

#site-info-mobile {
	display: inline-block;
}

#header .search {
	background: midnightblue;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 0.25em 0;
	z-index: 0;
}

#header .search-open {
	z-index: 2; /* The notifications badge has a z-index of 1, this puts the search above it */
	opacity: 1;
}

#search-closer {
	display: block;
}

#header .search form {
	margin-right: 3em;
	margin-left: 0.25em;
}

#searchInput { /* header search box */
	width: 100%;
	font-size: 18px;
	float: left;
	height: 2em; /* (2.75em [height of header] - 0.5em [top + bottom padding of .search]) * (16px [font size of #header and .search] / 18px [font size of .search input]) */
	display: none; /* default to hidden (will be shown by adding .search-open class to .search) */
}

.search-open #searchInput {
	display: block;
}

#search-shower {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

#searchText,
#powerSearchText { /* search and advanced search boxes on Special:Search */
	font-size: 18px;
}

#mw-search-top-table {
	text-align: center; /* center the search/advanced search boxes and submit button on Special:Search */
}

.search-types {
	width: 100%; /* break search types into 2 columns so the last item doesn't fall onto the next row on very small screens */
}

.search-types li {
	width: 50%;
}

#mw-searchoptions td {
	display: block; /* set each namespace under the advanced search preferences on its own line to prevent overflow (but if there's enough room it'll expand so there's two per line) */
}

.searchresult {
	max-width: 100%; /* prevent search results from overflowing */
}

#user-info {
	position: absolute;
	top: 0;
	right: 3em; /* search is 2.75em, 0.25em of padding */
	margin: 0;
	width: 2.75em;
	height: 2.75em;
}

#user-info .header-button {
	padding: 0;
	height: 2.75em;
}

#user-info .arrow {
	display: none;
}

.avatar {
	top: 7px; /* avatar is 30px, header is 44px */
	left: 0.5em;
}

.avatar-none {
	display: block;
}

#user-info > a {
	padding: 0;
	height: 2.75em;
}

#user-info > a span {
	display: none;
}

#user-info .header-menu {
	top: 2.75em;
	background-color: midnightblue;
	padding: 0.15em 0 0.15em 0;
}

#user-info .header-menu a {
	text-align: left;
	padding-left: 15px;
	font-weight: normal;
}

#user-info .header-menu a:hover {
	color: #CCC;
}

#user-info .header-menu a.new:hover {
	color: #f47d64;
}

#site-info .header-menu img {
	font-size: 16px; /* resetting font size for logos in menu so they are the same height as the one outside the menu */
}

#content {
	top: 2.75em;
}

#header-categories {
	display: none;
}

#firstHeading {
	position: relative;
	font-size: 0.9em;
	padding: 0 1em;
	width: auto;
}

#firstHeading h1 {
	overflow-x: auto;
	white-space: nowrap;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 2.25em;
}

.mw-indicator {
	display: none !important;
	/* to unset an individual indicator add the following:
	#mw-indicator-name { display: inline-block !important; }
	replacing "name" with the assigned name of the indicator */
}

.scroll-shadow {
	background:
		-webkit-linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		-webkit-linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		-webkit-linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)), linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0, linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)), linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		-webkit-linear-gradient(0deg, white 20%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, white 20%, rgba(255,255,255,0)) 100% 0, -webkit-linear-gradient(0deg, #e3e3e3 10%, rgba(255,255,255,0)), -webkit-linear-gradient(180deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background:
		linear-gradient(90deg, white 20%, rgba(255,255,255,0)),
		linear-gradient(270deg, white 20%, rgba(255,255,255,0)) 100% 0,
		linear-gradient(90deg, #e3e3e3 10%, rgba(255,255,255,0)),
		linear-gradient(270deg, #e3e3e3 10%, rgba(255,255,255,0)) 100% 0;
	background-repeat: no-repeat;
	background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	background-attachment: local, local, scroll, scroll;
}

.standard-toolbox {
	display: none;
}

#main-title-messages {
	display: none;
}

#back-to-subject {
	display: block;
}

#small-toolbox-wrapper {
	position: relative;
	display: block;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin: 0 0.9em 0.75em 0.9em; /* left/right: 1em (#bodyContent padding-left) * 0.9em (#bodyContent font-size) */
	overflow-y: hidden;
}

#small-toolbox {
	position: relative;
	width: 6em;
	height: 3em;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

.small-icon {
	width: 3em;
	height: 3em;
	background-size: 3em 3em;
	display: inline-block;
}

.small-icon:hover {
	opacity: 0.5;
}

#icon-ca-talk {
	/* @embed */
	background-image: url(images/icon-talk.png);
}

#icon-ca-viewsource {
	/* @embed */
	background-image: url(images/icon-edit.png);
	opacity: 0.3;
}

#icon-ca-viewsource:hover {
	opacity: 0.2;
}

#icon-ca-edit {
	/* @embed */
	background-image: url(images/icon-edit.png);
}

#icon-ca-history {
	/* @embed */
	background-image: url(images/icon-history.png);
}

#icon-ca-delete {
	/* @embed */
	background-image: url(images/icon-delete.png);
}

#icon-ca-move {
	/* @embed */
	background-image: url(images/icon-move.png);
}

#icon-ca-protect {
	/* @embed */
	background-image: url(images/icon-protect.png);
}

#icon-ca-unprotect {
	/* @embed */
	background-image: url(images/icon-unprotect.png);
}

#icon-ca-watch {
	/* @embed */
	background-image: url(images/icon-watch.png);
}

#icon-ca-unwatch {
	/* @embed */
	background-image: url(images/icon-unwatch.png);
}

#icon-more {
	/* @embed */
	background-image: url(images/icon-more.png);
}

/* CONTENT AREA ********************************************/
.nosmall, .articleFeedbackv5 {
	display: none !important;
}

/* Hide ads on mobile until mobile ads are implemented */
#advert {
	display: none;
}

/* Suggestions box under search */
.header-suggestions {
	top: 2.75em !important;
	left: 0 !important;
	width: 100% !important;
	font-size: 16px !important;
	z-index: 10001 !important; /* place above #fade-overlay, which has z-index of 10000 because it has the .fade-overlay-below-header class */
}

.header-suggestions div {
	font-size: 16pt;
}

.header-suggestions .suggestions-result {
	padding: 0.5em 0.25em !important;
	border-bottom: 1px solid #ddd;
}

.header-suggestions .suggestions-special {
	padding: 0.5em 0.25em !important;
	margin-top: 0 !important;
	border: 0 !important;
	border-bottom: 1px solid #ddd !important;
}

.header-suggestions .suggestions-results {
	border: 0 !important;
}

/* Extension:Echo fixes */

#pt-mytalk a.mw-echo-alert { /* "you have new messages" alert in the personal tools dropdown */
	margin: 0.1em;
}

#pt-notifications-personaltools { /* "Notifications" item in the personal tools dropdown */
	display: list-item;
}

.pt-notifications-personaltools-unread {
	background-color: #cc0000;
	color: #fff;
	border-radius: 2px; /* matching the notification badge itself and the "you have new messages" notice, which both have border-radius */
	margin: 0.1em;
}

.pt-notifications-personaltools-unread:hover {
	background-color: #bf0000 !important;
}

#pt-notifications {
	position: absolute;
	margin: 0;
	top: 0; /* the container height is greater than that of the notification button itself so this still leaves some space above the button */
	right: 2.9em; /* 2.75em for the search button, 0.25em of padding within user button */
	max-width: 2.25em; /* 2.75em (width of user button) - 0.25em of padding on each side */
	z-index: 1; /* above user button */
	padding: 0;
	width: auto;
	pointer-events: none; /* prevent click event (stop notifications dropdown from appearing on click) */
}

.mw-echo-notifications-badge {
	font-size: 0.5em;
	min-width: 3.5px; /* min-width of 7px * 0.5em (stops badge from looking too wide when it contains a single-digit number) */
	max-width: 2.25em; /* (2.75em (width of user button) - 0.25em of padding on each side) * 2 because the font size is 0.5em */
	overflow: hidden;
	display: none; /* hide if there are no noticiations */
}

.mw-echo-unread-notifications {
	display: inline;
}

.mw-echo-overlay {
	display: none; /* if pointer-events isn't supported (so #mw-echo-overlay is generated when the notifications badge is clicked), hide #mw-echo-overlay so it's not visible */
}

/* Image thumbnails */
.thumb {
	width: 100% !important;
	margin: 0 !important;
}

div.thumbinner { /* need to specify div so it can overwrite the CSS in commonContent.css */
	width: auto !important;
	padding: 0.75em 0 !important;
	margin-bottom: 0.5em;
}

.thumbinner img {
	width: 50%;
	height: auto;
	border: 0 !important;
}

.thumbcaption {
	text-align: center !important;
	margin-bottom: -.75em !important;
}

.magnify {
	display: none;
}
